{% load i18n %}
{% load markdown_deux_tags %}

{% for answer in answers %}
    <div class="panel {% if answer.marked_as_answer %}panel-success{% else %}panel-default{% endif %}">
    <div class="panel-heading">
      <h3 class="panel-title">
          <div class="pull-right"><span class="badge">{{ answer.created }}</span></div>
          {% if answer.marked_as_answer %}<i class="glyphicon glyphicon-check"></i> {% trans "Accepted Answer" %}:{% endif %}
          {{ answer.author }}
      </h3>
    </div>
    <div class="panel-body">
        <a name="answer-{{ answer.pk }}"></a>
        <div class="pull-right">
        {% include "qa/partials/votes.html" with object=answer %}
        </div>
        <h3 class="no-margin"><a href="{{ answer.get_absolute_url }}">{{ answer }}</a></h3>
        <p>{{ answer.body|markdown }}</p>
    </div>
    </div>
{% endfor %}