*.log
*.pot
*.pyc
*.sqlite3
core/settings/local.py
/static/
frontend/static/bower_components
media/
/private
nbproject/
.idea/
.project
.pydevproject
.settings/
.cache/
build/
run/gunicorn.sock
env/
.vagrant
.ssh
.sass-cache/
node_modules/
