{% load i18n %}
{% load qa_tags %}

<div class="navbar navbar-primary">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "frontend:landing" %}">{% trans "MotiusFlow" %}</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url "frontend:landing" %}">{% trans "Overview" %}</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Browse Tags" %}
                        <strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        {% get_top_tags as tags %}
                        {% for tag in tags %}
                            <li><a href="{{ tag.get_absolute_url }}">{{ tag }} <span class="badge">{{ tag.questions.count }}</span></a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="{% url "frontend:landing" %}">
                <div class="form-group is-empty">
                    <input class="form-control col-sm-8" name="q" value="{{ request.GET.q }}" placeholder="{% trans "Search" %}" type="text">
                    <span class="material-input"></span></div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-globe"></i>
                        {{ LANGUAGE_CODE|upper }}
                        <strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        {% for language in LANGUAGES %}
                            <li><a href="/{{ language.0 }}">{{ language.1 }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url "login" %}">{% trans "Log in" %}</a></li>
                {% else %}
                    {% if request.user.is_staff %}
                        <li><a href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
                    {% endif %}
                    <li><a href="{% url "logout" %}">{% trans "Log out" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>