{% extends "base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block content_title %}
    {{ question }}
{% endblock %}

{% block content_title_wrapper %}
    <div class="pull-right">
    {% include "qa/partials/votes.html" with object=question %}
    </div>
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-9">{{ question.body|markdown }}</div>
    <div class="col-md-3">
        {% if question.author == request.user %}
            <a class="btn btn-raised btn-primary btn-block no-margin" href="{% url "qa:question_update" question.slug %}">{% trans "Update Question" %}</a>
        {% endif %}
    </div>
    </div>

    {% if question.answers.count %}
        <hr />
        <h3>{% trans "Answers" %}</h3>
        {% include "qa/partials/answer_list.html" with answers=question.answers.all %}
    {% endif %}

    <hr />
    <h3>{% trans "Add Answer" %}</h3>
    <form method="post">
    <div class="row">
        <div class="col-lg-6">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-raised btn-primary">{% trans "Submit Answer" %}</button>
        </div>
    </div>
    </form>
{% endblock %}